---
// Redirect root to Chinese homepage
const zhUrl = `${import.meta.env.BASE_URL}/zh/`;
---
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0; url=${zhUrl}`} />
    <link rel="canonical" href={zhUrl} />
  </head>
  <body>
    <p>Redirecting... <a href={zhUrl}>Click here</a></p>
  </body>
</html>
